# Biblioteki używane w Twoim nowym kodzie
apache-airflow==2.8.1
requests
pandas

# Biblioteki do dalszych etapów projektu (Snowflake + ML)
snowflake-sqlalchemy
snowflake-connector-python[pandas]
python-dotenv
scikit-learn
joblib
dvc
